@media (max-width: 768px) {
    .navbar-items {
        display: none;
        width: 100%;
        justify-content: space-between;
        flex-direction: column;
        position: absolute;
        top: 70px;
        left: 0;
        background-color: #fff;
        padding: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .logo {
        margin-right: 150px;
    }


    .navbar-toggle {
        display: block;
        cursor: pointer;
        margin: -50px 0 0px 312px;
        font-size: 25px;
        color: #6dfacb;
    }

    .navbar-items.show {
        display: flex;
    }

    .list-items {
        flex-direction: column;
        gap: 15px;
    }

    .dropdown {
        left: 0;
        width: 100%;
        top: 32%;
    }

    .service {
        top: 46%;
    }

    .ban1 {
        padding: 27px;
        margin-top: -10px;
    }

    .banner1 {
        flex-direction: column-reverse;
    }

    .text h1 {
        font-weight: 900;
        font-size: 26px;
        text-align: center;
    }

    .text p {
        font-size: 11px;
        text-align: center;
    }

    .step {
        width: 80%;
    }

    .btn-grp {
        flex-direction: column;
    }

    .image {
        height: 100%;
        width: 100%;
        padding: 12px;
        margin-top: -14.2px;
        margin-left: -10px;
    }

    .text-section h1 {
        font-size: 30px;
    }

    .text-section p {
        color: #666666;
        font-size: 13px;
        line-height: 1.6;
    }

    .highlight {
        font-weight: 100;
        font-size: 14px;
    }

    .certificate button {
        margin-left: 0%;
        margin-top: 2px;
        margin-bottom: 10px;
    }

    .process {
        flex-direction: column;
        align-items: center;
    }

    .process1 {
        height: 80%;
        width: 350px;
    }

    .joining img {
        margin: -10px 0px 0 122px;
        transform: rotate(126deg);
        width: 81px;
    }

    .nonei img {
        display: block;
        margin: -10px 0px 0 122px;
        transform: rotate(126deg);
        width: 81px;
    }

    .joining2 img {
        display: none;
    }

    .testimonial-slider {
        width: 90%;
        height: 248px;
    }

    .testimonial-slider-logo {
        align-items: center;
        margin-top: 50px;
    }

    .testimonial-slider-text h3 {
        font-size: 16px;
    }

    .testimonial-slider-text p {
        font-size: 10px;
    }

    .disclaimer-text {
        margin-top: 10px;
    }

    .disclaimer-text p {
        font-size: 14px;
        line-height: 1.3;
    }

    .flxcontrol h2 {
        text-align: center;
    }

    .flxcontrol a {
        margin-left: 84px;
    }

}


/* Responsive Design */
@media (max-width: 768px) {
    .rbdr {
        flex-direction: column;
    }

    .form,
    .location {
        max-width: 100%;
    }

    .input-group div {
        min-width: 100%;
    }

    .meeting-btn {
        margin: 10px 0;
    }

    .button-schedule-meeting {
        font-size: 14px;
        padding: 8px;
    }

    .main-certificate {
        flex-direction: column;
    }

    .certificate {
        width: 80%;
    }
}

@media (max-width: 480px) {
    .form-sub {
        margin-left: 133px;
        margin-bottom: 50px;
        font-size: 14px;
    }

    .meeting-btn {
        margin: 10px 0;
    }

    .button-schedule-meeting {
        font-size: 12px;
    }

    .address p {
        font-size: 12px;
    }

    .rbdr form input,
    textarea {
        width: 90% !important;
    }

    .rbdr form select {
        width: 90% !important;
    }

    .name-mail {
        flex-direction: column;
    }
}


/* Responsive Design */
@media (max-width: 992px) {
    .section-footer .d-flex {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .col-sm-3 {
        flex: 1 1 45%;
        max-width: 45%;
        margin: 10px 0;
    }

    .f-points h3 {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    .col-sm-3 {
        flex: 1 1 100%;
        max-width: 100%;
        text-align: center;
    }

    .f-points ul {
        text-align: center;
    }

    .secution img {
        max-width: 120px;
    }

    .fsocial li {
        width: 35px;
        height: 35px;
        font-size: 16px;
        line-height: 17px;
    }

    .pay-now-btn {
        font-size: 13px;
        padding: 6px 20px;
    }
}

@media (max-width: 480px) {
    .f-points h3 {
        font-size: 12px;
    }

    .pay-now-btn {
        padding: 5px 16px;
    }

    .fsocial li {
        margin: 3px;
    }

    .footer-end {
        font-size: 12px;
    }
}

/* Responsive Design */
@media (max-width: 992px) {

    .mission-box,
    .cheap-rate-box,
    .trophy-box {
        grid-template-columns: 1fr;
        /* Stack content vertically */
    }

    .text-content {
        padding: 1.5em;
    }

    .text-content strong {
        font-size: 22px;
    }

    .pira {
        font-size: 15px;
    }

    .figure img {
        height: auto;
        max-width: 100%;
    }
}

@media (max-width: 768px) {
    .mission-main-box {
        padding: 1em;
        gap: 1.5em;
    }

    .text-content {
        padding: 1em;
    }

    .text-content strong {
        font-size: 20px;
    }

    .pira {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .text-content strong {
        font-size: 18px;
    }

    .pira {
        font-size: 13px;
        line-height: 1.4;
    }

    .mission-main-box {
        padding: 0.5em;
    }

    .text-content {
        padding: 0.8em;
    }

    .figure img {
        width: 100%;
        height: auto;
    }
}


@media (min-width: 900px) {
    .list-items {
        list-style: none;
        display: flex;
        gap: 16px;
        margin-top: 35px;
        margin-right: 0px;
    }

    .btn-grp button {
        white-space: nowrap;
    }

    .ban1 {
        padding: 0px;
        margin-top: 48px;
        margin-right: -44px;
    }

    .about {
        padding: 00px;
        margin-top: 20px;
    }

    .about-ab {
        display: flex;
    }

    .line1 {
        height: 3px;
        width: 44px;
        background: #42b6d7;
        margin: 8px 8px 0 0px;
    }

    .image-section,
    .text-section {
        flex: 1;
        min-width: 300px;
        padding: 20px;
    }

    .image-section img {
        width: 100%;
        height: auto;
    }

    .text-section {
        max-width: 600px;
    }

    .text-section h2 {
        color: #000;
        font-size: 14px;
        margin-bottom: 10px;
    }

    .text-section h1 {
        color: #000;
        font-size: 23px;
    }

    .text-section p {
        font-size: 12px;
        line-height: 1.2;
    }
    .certificate button {
        margin-top: 13px;
    }
    .col-sm-3 {
        flex: 1 1 45%;
        max-width: 32%;
        margin: 10px 0;
    }
    .certificate {
        height: 333px;
    }
    .process1 {
        margin-left: 23px;
        width: 50%;
    }
    .joining2 img {
        width: 340px;
    }
    .joining img {
        margin: 375px 0px 0 -37px;
        width: 119px;
    }
}